<html>
    <head>
            <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    </head>
    <body>
        <a href="/clients">
            <button class="button" style="vertical-align:middle"><span>Clients </span></button>
       </a>
       <a href="/clients">
        <button class="button" style="vertical-align:middle"><span>Zeiten </span></button>
        </a>

    </body>
</html>
