<html>
        <head>
        
                <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
            </head>

    <body>
            
    <main>
        
    
              
                <!--Navbar -->
                <nav class="mb-4 navbar navbar-expand-lg navbar-dark indigo">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <!-- Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Fantasy</a>
                                    <a class="dropdown-item" href="#">Travels</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light" href="#">Movies</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link waves-effect waves-light" href="#">Songs</a>
                            </li>
                        </ul>
                        <span class="navbar-text white-text">
                                    Navbar text with an inline element
                                </span>
                    </div>
                </nav>
                <!--/.Navbar -->
               
           
        </main>
    


        <a href="/clients">
            <button class="button" style="vertical-align:middle"><span>Clients </span></button>
       </a>
       <a href="/clients">
        <button class="button" style="vertical-align:middle"><span>Zeiten </span></button>
        </a>

         <!-- MDB core JavaScript -->
         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

    </body>
</html>
